---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'HomePage';
---

<BaseLayout pageTitle={pageTitle}>

	<h2>Yo</h2>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus nam quia optio quasi labore officiis eum laboriosam, molestias cum iure necessitatibus nisi ab consectetur, animi voluptas porro molestiae debitis voluptates.</p>

</BaseLayout>